*{
  margin: 0;
  padding: 0;
}
body{
  font-family: 'Roboto', sans-serif;
  background-color: #000000;
  color: #ffffff;
}

.hr{
  display: flex;
  justify-content: center;
  margin-top: 50vh;
  font-size: 2rem;
}
.username{
  color: rgb(0, 195, 255);
}